:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    --error: var(--nord11);
    --info: var(--nord14);

    --dshadow: #1f232b;
    --lshadow: #3d4555;
    --pressed: var(--nord2);

    --radius: 10px;
    --blur: 4px;
    --depth: 2px;
    
    --width: 225px;
}

body {
    font-size: 14px;
    padding-top: 7%;
    font-family: sans-serif;
    color: var(--nord5);
    background-color: var(--nord0);
}

button, div, textarea, input, input::-moz-range-thumb {
    -webkit-appearance: none;
    color: var(--nord4);
    background-color: var(--nord0);
    border-radius: var(--radius);
    border: 0;
    box-shadow: var(--depth) var(--depth) var(--blur) var(--dshadow), 
             calc(var(--depth) * -1) calc(var(--depth) * -1) var(--blur) var(--lshadow);
}

div {
    width: var(--width);
    padding: 16px;
}

b {
    color: var(--nord5);
}

button {
    width: calc(var(--width) + 32px);
    cursor: pointer;
    padding: 16px;
}

button:active, input[type="range"] {
    -webkit-appearance: none;
    color: var(--pressed);
    box-shadow: inset var(--depth) var(--depth) var(--blur) var(--dshadow), 
             inset calc(var(--depth) * -1) calc(var(--depth) * -1) var(--blur) var(--lshadow);
}

input[type="range"] {
    margin: 1.72px;
}

input::-moz-range-thumb {
    background-color: var(--nord2);
    cursor: pointer;
    width: 18px;
    height: 18px;
}

#title {
    margin: 0;
    margin-bottom: 8px;
    color: var(--nord6);
}

#subtitle {
    margin: 0;
    color: var(--nord9);
}

#ver {
    color: var(--nord3);
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 15;
}

#sig {
    color: var(--nord3);
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 15;
}

#sig:hover {
    color: var(--nord9);
    cursor: pointer;
}
